<section class="forms">

  <h1>Editing post</h1>

<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div id="CRUDs">
          <button class="btn btn-success" type="submit">Create Post</button>
  </div>
<% end %>

  <div>
    <%= link_to "Back to posts", posts_path, class:"btn btn-outline-primary" %>
  </div>
</section>