<% if notice %>
 <div class="alert alert-success" role="alert">
    <%= notice %>
 </div>
<% end %>


<div class="index">
  <h1>Posts</h1>
  <%= link_to "New post", new_post_path, class: "btn btn-success" %>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <%= link_to "Show this post", post, class: "btn btn-outline-primary" %>
  <% end %>
</div>
  <%= paginate @posts %>
</div>

 


