<% if notice %>
 <div class="alert alert-success" role="alert">
    <%= notice %>
 </div>
<% end %>
<div class="index">
<%= render @post %>

<p>Se desejar fazer um comentário anônimo, deslogue da sua conta</p>

<%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
  
   <hr>

   <div class="form-floating">
      <div id = "label">
         <label for="floatingTextarea">Comments</label>
      </div>
      <%= form.text_area :content %>
   </div>

   <div id="CRUDs">
      <button class="btn btn-success" type="submit">Create Comment</button>
   </div>
   <hr>
   <%= render @post.comments %>
<% end %>

<div>
   <% if current_user == @post.user %>
      <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary" %> |
   <% end %>

   <%= link_to "Back to posts", posts_path, class: "btn btn-outline-primary" %>

</div>
</div>
