<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
        <nav>
            <%= link_to "Home", home_index_path %>
            <%= link_to "Posts", posts_path %>
            <%= link_to "Login", new_user_session_path%>
            <%= link_to "Cadastro", new_user_registration_path %>
            <%= link_to "Editar Cadastro",edit_user_registration_path %>
        </nav> 
    </header>
    <div id="deslogar">
             <%= button_to "Deslogar", destroy_user_session_path, method: :delete,class: "btn btn-warning" %>
    </div>
    <%= yield %>
  </body>
</html>
